@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-SemiBold.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-Light.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-ExtraLight.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-ExtraBold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Outfit", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"),
    url("../../src/assets/fonts/Outfit-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
