$blue: #0173BC;
$light-blue: rgba(1, 115, 188, 0.25);
$orange: #ffa75e;
$black: #474749;
$white:  #FFFFFF;
$grey: #E1E2E3;
$dark-grey: #7C7D80;
$med-grey: #C7C8CA;
$dark-red: #950f39;
$red: #990D3A;
$background: rgba(0, 0, 0, 0.08);
$light-red:red;
$mobile-breakpoint: 390px;