$blue: #0173bc;
$light-blue: rgba(1, 115, 188, 0.25);
$orange: #ffa75e;
$black: #474749;
$white: #ffffff;
$grey: #e1e2e3;
$dark-grey: #7c7d80;
$med-grey: #c7c8ca;
$dark-red: #950f39;
$red: #990d3a;
$background: rgba(0, 0, 0, 0.08);
$light-red: red;
$mobile-breakpoint: 390px;
